CODE_SIGN_IDENTITY = Apple Development
CODE_SIGN_STYLE = Manual
CURRENT_PROJECT_VERSION = 6
DEVELOPMENT_TEAM = 95X8VY6TB2
GCC_TREAT_WARNINGS_AS_ERRORS = YES
MARKETING_VERSION = 0.1
PROVISIONING_PROFILE_SPECIFIER = match Development uk.co.nathanwong.giantbomb.tv tvos
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
TVOS_DEPLOYMENT_TARGET = 13.0
